/*Start index.html*/
.navbar {
    position: fixed;
    top: 33px;
    left: 50%; /* Posiciona o menu no meio da tela horizontalmente */
    transform: translateX(-50%); /* Move o menu 50% para a esquerda para centralizá-lo */
    display: flex;
    gap: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    z-index: 1000; /* Garante que o menu fique sobre outros elementos da página */
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 60px;
    padding: 0;
    margin: 0;
}

.navbar ul li {
    display: inline-block;
}

.navbar ul li a {
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    background: #97979733;
    color: #ffffff;
    padding: 10px 20px;
    border: 1px solid rgba(255, 255, 255, 0.486);
    border-radius: 5px;
    letter-spacing: 1px;
}

.navbar ul li a:hover {
    background: #ffffff80;
    color: #ffffff;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8); /* Adiciona um efeito de brilho */
    transition: 0.3s;
}

.hero {
    width: 100%;
    background: url(/src/images/fundoHexagonal.png) center/cover no-repeat;
    height: 81vh; /* altura da viewport do navegador */
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    margin-top: 70px; /* Compensa a altura da navbar fixa */
}

.icon-logo {
    display: flex;
    position: fixed;
    top: 20px;
    padding: 0;
    width: 100%;
    z-index: 1000;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding: 15px;
    z-index: 1000;
}

.footer-hero {
    font-size: 14px;
    letter-spacing: 1.5px;
}
/* End Index.html*/