/* Início Index.html */
.navbar {
    position: fixed;
    top: 53px;
    left: 50%; /* Posiciona o menu no meio da tela horizontalmente */
    transform: translateX(-50%); /* Move o menu 50% para a esquerda para centralizá-lo */
    display: flex;
    gap: 20px;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 50px;
    z-index: 1000; /* Garante que o menu fique sobre outros elementos da página */
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 0;
    margin: 0;
}

.navbar ul li {
    display: inline-block;
}

.navbar ul li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    background: #97979733;
    color: #ffffff;
    padding: 10px 20px;
    border: 2px solid rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    letter-spacing: 1px;
}

.navbar ul li a:hover {
    background: rgba(231, 248, 250, 0.8);
    color: #000000;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8); /* Adiciona um efeito de brilho */
    transition: 0.3s;
}

.hero {
    width: 100%;
    background: url(/src/images/fundoHexagonal.png) center/cover no-repeat;
    height: 81vh; /* altura da viewport do navegador */
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    margin-top: 70px; /* Compensa a altura da navbar fixa */
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    padding: 15px;
    z-index: 1000;
}

.footer-hero {
    font-size: 14px;
    letter-spacing: 1.5px;
}

/* Fim Index.html */

/* Início Sobre.html*/

.about-section {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
}

.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 130px;
    max-width: 825px;
    box-sizing: border-box;
    color: #ffffff;
    font-weight: 500;
    background-color: rgba(0, 255, 76, 0.308);
    padding: 20px 22px;
    border: 1px solid #ffffff38;
    border-radius: 15px;
}

.about-heading {
    text-align: center;
    font-size: 28px;
    color: white;
    margin-bottom: 20px;
}

.about-text {
    letter-spacing: 1.5px;
    font-size: 14px;
    margin-bottom: 15px;
}

.social {
    position: fixed; /* Mantém o botão fixo */
    bottom: 87px; 
    left: 50%; /* Centraliza na horizontal */
    transform: translateX(-50%); /* Ajusta para ficar perfeitamente no centro */
    display: flex; /* Usa flexbox para alinhar os elementos */
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5); /* Fundo escuro semi-transparente */
    padding: 1px;
    border-radius: 10px;
    z-index: 1000; /* Mantém o botão acima de outros elementos */
}

.social a {
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    padding: 10px 20px;
    border: 2px solid rgba(255, 255, 255, 0.6); /* Borda neon */
    border-radius: 10px;
    background: #97979733; /* Fundo semi-transparente */
    letter-spacing: 1px;
}

.social a:hover {
    background: rgba(231, 248, 250, 0.8); /* Cor mais forte no hover */
    color: #000000;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8); /* Adiciona um efeito de brilho */
    transition: 0.3s;
}