/* ============================ */
/*            NAVBAR            */
/* ============================ */
.navbar {
    position: fixed;
    top: 33px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    z-index: 1000; /* Garante que o menu fique sobre outros elementos da página */
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 60px;
    padding: 0;
    margin: 0;
}

.navbar ul li {
    display: inline-block;
}

.navbar ul li a {
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    background: #9797975e;
    color: #ffffff;
    padding: 10px 20px;
    border: 1px solid rgba(255, 255, 255, 0.486);
    border-radius: 5px;
    letter-spacing: 1px;
}

.navbar ul li a:hover {
    background: #ffffff9c;
    color: #ffffff;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.918);
    transition: 0.3s;
}

/* ============================ */
/*            HERO              */
/* ============================ */
.hero {
    width: 100%;
    background: url(../images/fundoHexagonal.png) center/cover no-repeat;
    height: 81vh; /* Altura da viewport do navegador */
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    margin-top: 70px; /* Compensa a altura da navbar fixa */
}

/* ============================ */
/*        ÍCONE DO LOGO         */
/* ============================ */
.icon-logo {
    display: flex;
    position: fixed;
    top: 20px;
    padding: 0;
    width: 100%;
    z-index: 1000;
}

/* ============================ */
/*           FOOTER             */
/* ============================ */
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    background-color: #000000aa;
    text-align: center;
    padding: 10px;
    z-index: 1000;
}

.footer-hero {
    font-size: 12px;
    letter-spacing: 1.5px;
}

/* ============================ */
/*        BOTÃO SOCIAL          */
/* ============================ */
.social {
    position: fixed; /* Mantém o botão fixo */
    bottom: 87px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.041);
    border-radius: 5px;
    z-index: 1000;
}

.social a {
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    background: #97979733;
    color: #ffffff;
    padding: 10px 20px;
    border: 1px solid rgba(255, 255, 255, 0.486);
    border-radius: 5px;
    letter-spacing: 1px;
}

.social a:hover {
    background: #ffffff80;
    color: #ffffff;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.692);
    transition: 0.3s;
}
